<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;">
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Odoo 14 Agent Commission</h2>
        <div>
            <h4>Features</h4>
            <ul>
            	<li style="font-weight:bold">This modules allows you to give the Commission to Agent and also keep track of that Commission record.</li>
            </ul>
        </div>
        
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Sale -> Customer you can configure the Agent and also set the Agent Commission Plan Based on Percentage or Fixed.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_01_configure_agent.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Inside Sale -> Order Select the Agent whom you want to give the commission and then Create the order and when you confirm that order the commission line of that agent will be added.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_02_select_agent.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can also able to see how much commission Agent will get inside the Agent Commission Tab and when you confirm the Sale Order the commission line of that agent are added.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_03_calculation.png"><br /><br/>
            <img style="max-width: 100%;" src="odoo14_04_confirm_commission.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Inside the Sale -> Agent Commission you will able to see the All the commission of the different agents.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_05_agent_commission_detail.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Inside Sales -> Agent Commission -> Commission Payment you can able to pay the commission to the Agent manaully and also you can cancel the commission by clicking on that cancel button.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_06_commission_payment.png"><br /><br/>
            <img style="max-width: 100%;" src="odoo14_07_cancel_commission_details.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can also see the invoice details and paymenty details of the Agent.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_08_commission_invoice_details.png"><br /><br/>
            <img style="max-width: 100%;" src="odoo14_09_commission_payment_details.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">You can also see the This Month Orders and also see the Top 10 customers.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo14_10_commission_payment_report.png"><br /><br/>
            <img style="max-width: 100%;" src="odoo_14_11_report.png"><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Help and Support</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a target="new" href="https://www.fiverr.com/hardikgajera82?up_rollout=true" style="color: black !important;font-weight:bold;">Our Profile: https://www.fiverr.com/hardikgajera82?up_rollout=true</a><br/>
        <span>Email : allenesoftware@gmail.com</span>
    </div>
        <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
        <h4 class="oe_mt32 oe_mb8 text-center">
            <b>Allene Software</b>
        </h4>
</section>
